<section class="grid2">
    
    <h1 class="elsewhereTitle"><span class="myName">Me</span> Elsewhere</h1>

    <br>
    
    <div class="">

        <a class="linkedIn" href="https://www.linkedin.com/in/chris-freckleton-17abb816/" target="blank">

            <section class="linked">Linked</section>

            <section class="in"></section>

            <section class="tm">TM</section>
            
        </a>


        <a class="gitHubText" href="https://github.com/TheFreck" target="blank">GitHub <span class="gitHub"></span>
        </a>
    </div>
    
    <br><br>

</section>