<section class="missionText">

  <h2 class="missionTitle">Hey! I'm <span class="myName">Chris</span></h2>

  <ul>
    <li>This page is mainly about programming but I'm also a musician and right now that means my <span><a href="#">longneck banjo</a></span></li>
    <br>
    <li>I'm very passionate about my work and its outcome. Personal success is measured by the success of my clients and coworkers and the community in which we live.</li>
    <br>
    {{!-- <li>With experience both customer facing as well as behind the scenes analyzing financial data, I have developed an appreciation over time for the ways that both contribute to the overall success of the project.</li> --}}
    <li>Strong communication makes collaboration possible while high personal standards drive quality individual contributions.</li>
    <br>
    <li>Scroll down to raise the curtain</li>
    <br>
    <li>BTW, projects I've worked on are falling from the sky and they're clickable if you can catch one</li>
  </ul>
    
</section>