<section class="missionText">

    <h2 class="missionTitle">Hey! I'm <span class="myName">Chris</span></h2>

    <p>Passionate about the work and the outcome. Personal success is measured by the success of my clients and coworkers and the community in which we live.<p>
    </p>With experience both customer facing as well as behind the scenes analyzing financial data, I have developed an appreciation over time for the ways that both contribute to the overall success of the project.</p>
    
</section>