<section class="missionText">

  <h2 class="missionTitle">Hey! I'm <span class="myName">Chris</span></h2>

  <ul>
    <li>Passionate about the work and the outcome. Personal development is measured by the success of my clients and coworkers and the community in which we live.</li>
    <br>
    {{!-- <li>With experience both customer facing as well as behind the scenes analyzing financial data, I have developed an appreciation over time for the ways that both contribute to the overall success of the project.</li> --}}
    <li>Strong communication makes collaboration possible while high personal standards drive scalable individual contributions.</li>
    <br>
    <li>My projects are falling from the sky and they're clickable</li>
    <br>
    <li>Scroll down</li>
  </ul>
    
</section>