<div class="carousel" id="carousel">
    <h2 class="carouselTitle">Some of my projects</h2>
    
    <li class="carousel-item">
        <img alt="greedy-bastards icon" class="image" src="../images/GreedyBastards2.png">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://greedy-bastards.herokuapp.com" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/AwesomeFolks" target="blank">github repo</a>
        
    </li>
    <li class="carousel-item">
        <img alt="login icon" class="image" src="../images/lock.jpg">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://enigmatic-brushlands-57933.herokuapp.com/" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/login-template" target="blank">github repo</a>
        
    </li>
    <li class="carousel-item">
        <img alt="tile for the train scheduler" class="image" src="../images/Train.jpg">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://thefreck.github.io/trainSchedule/" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/trainSchedule" target="blank">github repo</a>
        
    </li>
    <li class="carousel-item">
        <img alt="tile for hangman" class="image" src="../images/Hangman.png">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://thefreck.github.io/wordGuessGame/" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/wordGuessGame" target="blank">github repo</a>
        
    </li>
    <li class="carousel-item">
        <img alt="tile for the GIF hunter" class="image" src="../images/GIF.png">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://thefreck.github.io/gifmantasticification/" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/gifmantasticification" target="blank">github repo</a>
        
    </li>
    <li class="carousel-item">
        <img alt="tile for the liri app" class="image" src="../images/q and a.jpg">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/liri-node-app" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/liri-node-app" target="blank">github repo</a>
        
    </li>
    <li class="carousel-item">
        <img alt="tile for hangman command line" class="image" src="../images/Hangman.png">
          <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/word-game" target="blank">Go to the App
          </a>
        </img>
        <a class="btn appBtn carBtn waves-effect waves-orange btn-flat" href="https://github.com/TheFreck/liri-node-app" target="blank">github repo</a>
        
    </li>

</div>