<div class="contents">
    <section class="card grid2 wrapper">
        <img class="profilePic shadowOut" src="./images/IMG_5884.JPG" alt="it's me" data-scroll-speed="2">
        <div class="vitals shadowIn" data-scroll-speed="3">
            <section class="vital nameFix myNameSupport" data-scroll-speed="0">
                <h1 class="myName bannerText">Chris Freckleton</h1>
                <h2 class="title vitalData">Full Stack Developer</h2>
            </section><br><br>
            <section class="vital" data-scroll-speed="0">
                <h1 class="vitalTitle">Email</h1>
                <a class="email vitalData" href="mailto:freck.chrisleton@gmail.com">freck.chrisleton@gmail.com</a>
            </section>
            <br>
            <br>
            <section class="vital shadowIn elsewhere" data-scroll-speed="0">
                <h1 class="vitalTitle"><span class="myName">Me</span> Elsewhere</h1>
                <br>
                <h1 class="vital socialTop linked">Linked<a class="linkedIn vitalData" href="https://www.linkedin.com/in/chris-freckleton-17abb816/" target="blank"></a><h1 class="tm">TM</h1>
                <a class="gitHub" href="https://github.com/TheFreck" target="blank"></a></h1>
                <br><br>
            </section>
            <br>
            
        </div>
        <div class="carouselbox" data-scroll-speed="1">
            <h2 class="projectTitle">Projects</h2>
            
            <ol class="content">
                <li>
                    <a href="https://greedy-bastards.herokuapp.com" target="blank">
                        <img alt="greedy-bastards icon" class="image" src="./images/GreedyBastards2.png">
                    </a>
                    <a href="https://github.com/TheFreck/AwesomeFolks" target="blank">github repo</a>
                </li>
                <li>
                    <a href="https://enigmatic-brushlands-57933.herokuapp.com/" target="blank">
                        <img alt="login icon" class="image" src="./images/lock.jpg">
                    </a>
                    <a href="https://github.com/TheFreck/login-template" target="blank">github repo</a>
                </li>
                <li>
                    <a href="https://thefreck.github.io/trainSchedule/" target="blank">
                        <img alt="tile for the train scheduler" class="image" src="./images/Train.jpg">
                    </a>
                    <a href="https://github.com/TheFreck/trainSchedule" target="blank">github repo</a>
                </li>
                <li>
                    <a href="https://thefreck.github.io/wordGuessGame/" target="blank">
                        <img alt="tile for hangman" class="image" src="./images/Hangman.png">
                    </a>
                    <a href="https://github.com/TheFreck/wordGuessGame" target="blank">github repo</a>
                </li>
                <li>
                    <a href="https://thefreck.github.io/gifmantasticification/" target="blank">
                        <img alt="tile for the GIF hunter" class="image" src="./images/GIF.png">
                    </a>
                    <a href="https://github.com/TheFreck/gifmantasticification" target="blank">github repo</a>
                </li>
                <li>
                    <a href="https://github.com/TheFreck/liri-node-app" target="blank">
                        <img alt="tile for the liri app" class="image" src="./images/q and a.jpg">
                    </a>
                    <a href="https://github.com/TheFreck/liri-node-app" target="blank">github repo</a>
                </li>
                <li>
                    <a href="https://github.com/TheFreck/word-game" target="blank">
                        <img alt="tile for hangman command line" class="image" src="./images/Hangman.png">
                    </a>
                    <a href="https://github.com/TheFreck/liri-node-app" target="blank">github repo</a>
                </li>

            </ol>
        </div>
    </section>
</div>




