
<br><br>
<h5>That's it! Index Page{{data}}</h5>



<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary btn-lg">Large button</button>