<div id="bigBox" class="bigBox">
  {{!-- <div id="aleph" class="box letterBox">aleph</div>
  <div id="beth" class="box letterBox">beth</div>
  <div id="gimel" class="box letterBox">gimel</div>
  <div id="daleth" class="box letterBox">daleth</div>
  <div id="heh" class="box letterBox">heh</div>
  <div class="a1 drop">{{>partial/dropping}}</div>
  <div class="a2 drop">{{>partial/dropping}}</div>
  <div class="a3 drop">{{>partial/dropping}}</div>
  <div class="a4 drop">{{>partial/dropping}}</div>
  <div class="a5 drop">{{>partial/dropping}}</div> --}}
</div>