* {box-sizing: border-box;}

body{
  background: brown;
  font-family: 'Times New Roman', Times, serif;
}

.background{
  position: relative;
  width: 100%;
  background-image: url("../images/4k-monument-valley-desert-mountains-cliffs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-right: 5%;
  padding-left: 5%;
  color: rgb(114, 12, 12);
}

.magnifyer{
  position: absolute;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}


.button{
  display: inline-block;
}
.grid2{
  display: grid;
  grid-template-columns: 50% 50%;
}
.main{
  position: fixed;
  z-index: 20;
}
.shadowOut{
  box-shadow: 5px 0px 75px 20px #7c6e49;
}
.shadowIn{
  box-shadow: 0px 0px 100px 30px #7c6e49 inset;
}
.bigShadowIn{
  box-shadow: 0px 0px 400px 100px #7c6e49 inset;
}


#homeBtn{
  top: 1%;
  left: 1%;
}
#profileBtn{
  top: 1%;
  left: 5%;
}




.picture{
  position: fixed;
  margin-top: 10%;
  left: 50px;
  width: 1500px;
  height: 300px;
  box-shadow: 0px 0px 100px 30px #6d815b inset;
}
  .profilePic{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transform: rotate(90deg);
    border-radius: 2%;
    z-index: 6;
    box-shadow: 15px -15px 50px #2c3028;
  }
.name{
  margin-top: 50px;
  width: 700px;
  height: 250px;
  left: 20%;
  padding-left: 5%;
  display: inline-block;
}
  .myName{
    font-size: 48px;          
  }
  .title{
    font-size: 32px;
  }
.email{
  margin-top: 2300px;
  vertical-align: center;
  height: 400px;
  width: 700px;
  top: 300px;
  right: 15%;
  font-size: 22px;
  padding: 5%;
  text-shadow: 2px 2px 4px #000000;
}
.emailSection{
  color: rgb(114, 12, 12);
}
.projectCarousel{
  margin-top: 1100px;
  display: inline-block;
  height: 300px;
  width: 500px;
  font-size: 22px;
  text-shadow: 2px 2px 4px #000000;
  left: 50%;
}
  .image{
    width: 200px;
    height: 200px;
    border-radius: 4%;
    margin-top: 4%;
  }
  .appBtn{
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    width: 60%;
    display: inline-block;
    font-size: 12px;
    /* color: white; */
    margin-left: 20%;
    margin-right: 20%;
  }
.elsewhere{
  margin-top: 2600px;
  bottom: 0;
  padding: 2% 5% 1% 40%;
  z-index: 5;
  height: 400px;
  width: 95%;
  right: -10%;
  text-shadow: 2px 2px 4px #000000;
}
  .elsewhereTitle{
    position: relative;
    left: 5%;
  }
  .linkedIn{
    width: 400px;
    height: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 70% 20% 10%;
    right: 0;
  }
  .linked{
    position: relative;
    font-weight: bold;
    font-size: 56px;
    text-align: right;
  }
  .in{
    background: url("../images/In-2CRev-34px-R.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 56px;
    position: relative;
  }
  .tm{
    font-size: 12px;
    position: relative;
    left: 0;
    font-weight: bold;
    text-align: left;
  }
  .gitHubText{
    font-size: 36px;    
  }
  .gitHub{
    background: url("../images/Octocat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 56px;
    width: 56px;
    position: absolute;
  }
.screen{
  margin-top: -550px;
  left: -15%;
  height: 2000px;
  width: 130%;
  /* background-color: red; */
}
.screenImg{
  background: url("../images/curtain.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  opacity: .6;
  width: 100%;
  height: 100%;
}
.mission{
  border-top: solid;
  width: 1100px;
  height: 550px;
  margin-left: 5%;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 32px;
  /* text-shadow: 2px 2px 4px #000000; */
  left: 25%;
  background: rgba(114, 32, 12, 0.945);
}
.signPost{
  margin-top: 15000px;
  bottom: 0;
  padding: 2% 5% 1% 40%;
  z-index: 5;
  height: 400px;
  width: 95%;
  left: -10%;
  text-shadow: 2px 2px 4px #000000;
}
.prize{
  margin-top: 5600px;
  bottom: 0;
  padding: 2% 5% 1% 40%;
  z-index: 5;
  height: 400px;
  width: 95%;
  right: -10%;
  text-shadow: 2px 2px 4px #000000;
}


.bigBox{
  z-index: 0;
  position: relative;
  height: 2000px;
  border-right: solid;
  border-left: solid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.letterBoxes{
  width: 100px;
  height: 100px;
  display: inline-block;
}
.box{
  position: absolute;
  top: 50%;
}
#aleph{
  background: green;
}
#beth{
  background: yellowgreen;
}
#gimel{
  background: yellow;
}
#daleth{
  background: orange;
}
#heh{
  background: orangered;
}


/* .drop{
  top: 500px;
  width: 200px;
  height: 200px;
} */
.drop1{
  top: 500px;
  width: 250px;
  height: 250px;
}
.drop2{
  top: 500px;
  width: 200px;
  height: 200px;
}
.drop3{
  top: 500px;
  width: 150px;
  height: 150px;
}
.drop4{
  top: 500px;
  width: 100px;
  height: 100px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: -2200px;}
  to {top: 2000px;}
}

/* Standard syntax */
@keyframes mymove {
  from {top: -2200px;}
  to {top: 2000px;}
}

.a1{
  position :relative;
  display: inline-block;
  -webkit-animation: mymove 17s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 17s infinite;
}
.a2{
  position :relative;
  display: inline-block;
  -webkit-animation: mymove 21s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 21s infinite;
}
.a3{
  position :relative;
  display: inline-block;
  -webkit-animation: mymove 24s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 24s infinite;
}
.a4{
  position :relative;
  display: inline-block;
  -webkit-animation: mymove 35s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 35s infinite;
}
.a5{
  position :relative;
  display: inline-block;
  -webkit-animation: mymove 42s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 42s infinite;
}
.projectDrop{
  margin-top: -500px;
  top: -500px;
}