.carouselbox {
    font-family: helvetica,sans-serif;
    font-size: 14px;
    width: 900px;
    position: relative;
    margin: 1em;
    margin-left: auto;
    margin-right: 15%;
    bottom: 0px;
}
.content {
    margin: 0;
    padding: 0;
}
.content li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    z-index: 2;
}
.active {
    height: 700px;
}
.active li {
    position: absolute;
    top: 200px;
}
.active li.current {
    top: 30px;
}
.buttons {
    display: inline-block;
}
.active .buttons {
    display: block;
    padding: 5px 0;
    background: #eee;
    text-align: center;
    z-index: 10;
    position: relative;
}
.carouselbox button {
    border: none;
    visibility: hidden;
}
.active button {
    visibility: visible;
} 
.offscreen {
    position: absolute;
    left: -22000px;
}
.image{
    width: 100%;
    height: 100%;
}
.current{
    visibility: visible;
}
.projectTitle{
    text-align: center;
    font-size: 82px;
    
}
li{
    visibility: hidden;
}

.button{
    display: inline-block;
    position: fixed;
}

.background{
    background-image: url("../../assets/images/4k-monument-valley-desert-mountains-cliffs.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    padding: 0 10%;
}
p{
    line-height: 1.5;
    font-size: 24px;
    margin: 0 13%;
}
ul{
    line-height: 1.5;
    font-size: 24px;
    margin: 0 10%;
}
li{
    list-style-type: disc;
    margin: 0 5%;
}

.width100{
    width: 100%;
}
.main{
    position: fixed;
}
.card{
    width: 100%;
    position: relative;
    opacity: .8;
    margin: 0 auto;
}
.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.profilePic{
    background: url("../images/IMG_5890.JPG");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: fixed;
    transform: rotate(90deg);
    width: 600px;
    margin: 15% auto 4% auto;
    border-radius: 2%;
}
.shadowOut{
    box-shadow: 5px 0px 75px 20px #7c6e49;
}
.shadowIn{
    box-shadow: 0px 0px 100px 30px #7c6e49 inset;
}
.vital{
    position: relative;
    display: inline-block;
    margin: 5% 20% 0% 5%;
}
.title{
    font-size: 22px;
    margin-left: 7%;
}
.email{
    font-size: 22px;
}
.linkedIn{
    background: url("../images/In-2CRev-34px-R.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 25px;
    height: 24px;
    position: relative;
    display: inline-block;
    right: 0;
}
.tm{
    font-size: 12px;
    position: relative;
    display: inline-block;
    left: 0;
    font-weight: bold;
}
.linked{
    position: relative;
    right: 0;
    font-weight: bold;
}
.gitHub{
    background: url("../images/Octocat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 25px;
    height: 24px;
    position: relative;
    display: inline-block;
}
.elsewhere{
    padding: 2% 10% 1% 30%;
}
.vitalTitle{
    margin-left: 7%;
    font-size: 32px;
    font-weight: bold;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 4%;
    margin-top: 4%;
}
.vitals{
    position: relative;
    top: 0px;
    padding-bottom: 3%;
}
.bannerText{
    opacity: 1;
    font-size: 48px;
}
.nameFix{
    height: 15%;
}



@media only screen and (max-width: 1000px){
    .mini{
        display: block;
    }
    .max{
        display: none;
    }
    .profilePic{
        margin-top: 20%;
        left: -10%;
        width: 120%;
        height: 100%;
    }
    .myName{
        font-size: 190%;
    }
    .title{
        font-size: 150%;
        margin: 0;
        padding: 0;
    }
    .vitals{
        margin-top: 15%;
    }
    .vitalTitle{
        font-size: 150%;
    }
    .email,
    .portfolio{
        position: relative;
        display: block;
    }
    .portfolio{
        font-size: 150%;
        position: absolute;
        width: auto;
        height: auto;
        background: none;
        border: none;
    }
    .bod{
        margin: 0;
        width: 100%;
        opacity: .9;
    }
    .sectionHead{
        font-size: 150%;
    }
    .vitalData{
        font-size: 100%;
    }
    .card{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .vital{
        margin: 0;
    }
    .socialBottom{
        width: 100%;
        margin: 0;
        padding: 0 0 0 10%;
    }
    .edList{
        font-size: 110%;
        margin: 5%;
    }

    
    p{
        font-size: 100%;
        margin: 0 5%;
        opacity: .6;
    }
}

#homeBtn{
    top: 1%;
    left: 1%;
}
#profileBtn{
    top: 1%;
    left: 5%;
}

/* ******************************************
Scrolling at varying speeds
****************************************** */
.contents {
    height: 3000px;
}
  
.wrapper {
    position: fixed;
}
  
.wrapper .box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 160%;
    color: #fff;
    position: absolute;
    background: #ff8330;
}
  
.wrapper .box:nth-of-type(2) {
    left: 100px;
    background: #E01B5D;
}
  
.wrapper .box:nth-of-type(3) {
    left: 200px;
    background: #30FFFF;
}
  
.wrapper .box:nth-of-type(4) {
    left: 300px;
    background: #B3FF30;
}
  
.wrapper .box:nth-of-type(5) {
    left: 400px;
    background: #308AFF;
}
  
.wrapper .box:nth-of-type(6) {
    left: 500px;
    background: #1BE059;
}

.bigBox {
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}